<%- include('../partials/header') %>
<table id="list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        <% lighthouses.forEach(function(l) { %>
            <tr>               
                <td><%= l.lighthouseName %></td>
                <td><%= l.state %></td>
                <% if (user) { %>
                <td><a href="/lighthouses/show/<%= l._id %>">DETAILS</a></td>
                <% } else { %>
                   <% } %>
            </tr>
            <% }); %>
    </tbody>
</table>



<%- include('../partials/footer') %>

