<%- include('../partials/header') %>


<section id="show-page">
    <div>Name: </div>
    <div><%= lighthouse.lighthouseName %></div>
    <div>Location: </div>
    <div><%= lighthouse.state %></div>
    <div>Height: </div>
    <div><%= lighthouse.height %></div>
    <div>Year First Lit: </div>
    <div><%= lightouse.yearFirstLit %></div>
    <div>Characteristic: </div>
    <div><%= lighthouse.characteristic %></div>
    <div>Light Range: </div>
    <div><%= lighthouse.range %></div>
    <div>Can Visitor Enter? </div>
    <div><%= lighthouse.visitorCanEnter %></div>
    <div>Did You Visit? </div>
    <div><%= lighthouse.visited %></div>
</section>

<h2>Reviews</h2>
<% if (user) { %>
<form id="add-review-form" method="POST"
action="/lighthouses/<%= lighthouse._id %>/reviews">
<label>Review:</label>
<textarea name="content"></textarea>
<input type="submit" value="Add Review">
</form>
<% } %>
<%- include('../partials/header') %>
